<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>ERROR !</title>
  <link rel="stylesheet" th:href="@{/errorstyle.css}">

</head>
<body>
<!-- partial:index.partial.html -->
<div id="page">
  <div id="container">
    <h1>:(</h1>
    <h2>Ova stranica ne postoji ili nemate pravo pristupa</h2>
    <h2>
      <span id="percentage">0</span>% analizirano</h2>
    <div id="details">
      <div id="qr">
        <div id="image">
          <img src="https://i.imgur.com/GnkpkIy.png" alt="QR Code" />
        </div>
      </div>
      <div id="stopcode">
        <h4>Za vise informacija o ovom problemu molimo Vas kontaktirajte:
          <br/>relja.stef@gmail.com</h4>
        <h5>Stop code:
          <br/>404 PAGE NOT FOUND</h5>
      </div>
    </div>
  </div>
</div>
<!-- partial -->
<script  th:src="@{/errorscript.js}"></script>

</body>
</html>
