<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Statistika</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">

    <style>

        body{
        font-family: "Fira Sans", Helvetica, Arial, sans-serif;
        }
        #coursePieChart {
            width: 650px; /* Set the desired width */
            height: auto; /* Allow the height to adjust proportionally */
        }

    </style>
</head>
<body>
<nav class="navbar navbar-expand-lg sticky-top" style="background-color:#343a40;"data-bs-theme="dark">
    <div class="container">
        <a href="http://localhost:8080/">
            <img src="https://lh4.googleusercontent.com/proxy/UMSbZC9WZptFpvl97lGGbbstr1H8jV-hQ0spyce5qZ9L_gBYisF0r0gPvQY5YTooBCbwl7CE7qV58Q" height="35px"    width="35px"></a>
        <a class="navbar-brand" href="http://localhost:8080/">Moodle</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link " aria-current="page" href="http://localhost:8080/">Početna</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="http://localhost:8080/courses">Kursevi</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="http://localhost:8080/statistika" sec:authorize="hasAuthority('ADMIN')">Statistika</a>
                </li>
            </ul>
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link me-2" aria-current="page" href="login" sec:authorize="!isAuthenticated()">Log in</a>
                </li>
                <form id="logoutForm" action="/logout" method="post">
                    <button type="submit" class="nav-link me-2" aria-current="page" sec:authorize="isAuthenticated()" >Odjava</button>
                </form>

                <li class="nav-item">
                    <a class="nav-link me-2" href="register" sec:authorize="!isAuthenticated()">Sign in</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<h1 style="text-align:center">Statistika posećenosti kurseva</h1>
<div class="container text-center d-flex justify-content-center">

<canvas id="coursePieChart"></canvas>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js" integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy" crossorigin="anonymous"></script>
<script th:inline="javascript">
    /*<![CDATA[*/
    document.addEventListener('DOMContentLoaded', (event) => {
        const ctx = document.getElementById('coursePieChart').getContext('2d');
        const courseData = {
            labels: [],
            datasets: [{
                label: 'Course Visits',
                data: [],
backgroundColor: [
    'rgba(255, 99, 132, 0.2)',
    'rgba(54, 162, 235, 0.2)',
    'rgba(255, 206, 86, 0.2)',
    'rgba(75, 192, 192, 0.2)',
    'rgba(153, 102, 255, 0.2)',
    'rgba(255, 159, 64, 0.2)',
    'rgba(255, 0, 0, 0.2)',
    'rgba(0, 255, 0, 0.2)',
    'rgba(0, 0, 255, 0.2)',
    'rgba(255, 255, 0, 0.2)',
    'rgba(255, 0, 255, 0.2)',
    'rgba(0, 255, 255, 0.2)',
    'rgba(128, 0, 0, 0.2)',
    'rgba(0, 128, 0, 0.2)',
    'rgba(0, 0, 128, 0.2)'
],
borderColor: [
    'rgba(255, 99, 132, 1)',
    'rgba(54, 162, 235, 1)',
    'rgba(255, 206, 86, 1)',
    'rgba(75, 192, 192, 1)',
    'rgba(153, 102, 255, 1)',
    'rgba(255, 159, 64, 1)',
    'rgba(255, 0, 0, 1)',
    'rgba(0, 255, 0, 1)',
    'rgba(0, 0, 255, 1)',
    'rgba(255, 255, 0, 1)',
    'rgba(255, 0, 255, 1)',
    'rgba(0, 255, 255, 1)',
    'rgba(128, 0, 0, 1)',
    'rgba(0, 128, 0, 1)',
    'rgba(0, 0, 128, 1)'
]
,
                borderWidth: 1
            }]
        };
        /*[# th:each="course : ${courses}"]*/
        courseData.labels.push('[[${course.name}]]');
        courseData.datasets[0].data.push([[${course.visits}]]);
        /*[/]*/
        const coursePieChart = new Chart(ctx, {
            type: 'pie',
            data: courseData,
            options: {
                responsive: false // Prevent the chart from resizing
            }
        });
    });
    /*]]>*/
</script>
</body>
</html>
